.tile {
    height: 30px;
    width: 30px;
    border: 1px solid #EEEEEE;
    background-color: #8DD5E7;
    cursor: move;
    padding: 2px;
    font-size: 24px;
    float: left;
}
.tiles-container {
    margin-bottom: 20px;
}
.box {
    height: 35px;
    width: 35px;
    border: 1px solid;
    font-size: 24px;
}
.row {
    clear: both;
}
.central {
    background-color: red;
}

.players {
    margin-bottom: 30px;
}

.players div {
    font-weight: bold;
}

.players span {
    font-weight: bold;
    color: red;
}