<html>

<head>
<script type='text/javascript' src='/media/js/jquery-1.7.1.min.js'></script>
<script type="text/javascript">

    function getLoginStatus(FB, callback) {

        FB.login(function(response) {

            saveFacebookUser(response.authResponse.accessToken, FB, callback);

        }, {scope: 'publish_stream, email'});
    }

    function saveFacebookUser(accessToken, user, callback, csrf_token) {

        $.post("/user/facebookloginsuccess/", {"accessToken": accessToken, "csrfmiddlewaretoken": "{{csrf_token}}" },
            function(html) {
                $("#user_bar").html(html);
            }
        );
    }

    window.fbAsyncInit = function() {

        FB.init({
            appId      : "{{FB_APP_ID}}",
            channelUrl : "{{HOST}}" + '/media/channel.html',
            status     : true,
            cookie     : true,
            xfbml      : true,
            oauth      : true
        });

    };

    (function(d){
        var js, id = 'facebook-jssdk';if (d.getElementById(id)) {return;}
        js = d.createElement('script');js.id = id;js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));

</script>
</head>

<body>

<div id="user_bar">
{% if not request.user.is_authenticated %}
<button onclick="getLoginStatus(FB)">Facebook Login</button>
{% else %}
Hi {{request.user.username}} <img src="{{request.user.get_profile.picture}}">
{% endif %}
</div>

<h2>Select the board</h2>

<ul>
    {% for board in boards %}
        {% if board.players.count <= 2 %}
            <li><a href="/boards/{{board.id}}/">{{board.id}} 
            Players: 
            {% for player in board.players.all %}
                {% if not forloop.first %} - {% endif %}
                {{ player.user.username }}
            {% endfor %}
            </a></li>
        {% else %}
            <li>{{board.id}} 
            Players: 
            {% for player in board.players.all %}
                {% if not forloop.first %} - {% endif %}
                {{ player.user.username }}
            {% endfor %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

</body>
</html>
