<html>
    <head>
        <link rel="stylesheet" href="/static/css/board.css">
        <script type='text/javascript' src='/static/js/jquery-1.7.1.min.js'></script>
        <script type='text/javascript' src='/static/js/redips-drag-min.js'></script>
        <script type="text/javascript" src="http://localhost:8080/application.js"></script>
        <script type="text/javascript">
            var jug = new Juggernaut();
            jug.subscribe('channel', function(data) {
                alert('Got message: ' + data);
            });

            //setTimeout(function() { $.post("/send_message") }, 1000);
        </script>
        <script>
            $(document).ready(function() {
                var rd = REDIPS.drag
                rd.init('play-area');

                rd.drop_option = 'single';
            });

            function play() {

                var tiles = $("#board .drag");
                letters = [];
                tiles.each(function(k, v) {
                    var box = $(v);
                    obj = {
                        letter: box.attr("data-value"),
                        x: box.parent().attr("data-x"),
                        y: box.parent().attr("data-y")
                    }
                    letters.push(obj);
                })

                $.post("/board/play/", {letters: JSON.stringify(letters)}, function(response) {

                    var response = JSON.parse(response);

                    if (response.status == 'error') {
                        alert(response.message);
                    } else {
                        alert("Good move!");
                    }
                });
            }
        </script>
    </head>

    <body>
        <h1>Scrabbly Cloud!</h1>

        <div id="play-area">
            <div id="tiles-container" class="tiles-container">
                <table>
                    <tr>
                    {% for letter in letters %}
                        <td><div data-value="{{letter}}" class="drag tile">{{letter}}</div></td>
                    {% endfor %}
                    </tr>
                </table>
            </div>

            <button onclick="play()">Play!</button>

            <div id="board" class="board">
                <table>
                {% for y in range(height) %}
                    <tr class="row">
                    {% for x in range(width) %}
                        <td data-x="{{x}}" data-y="{{y}}" class="box {% if x == 7 and y == 7 %}central{% endif %}"></td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>

    </body>
</html>
